*.pyc
*.DS_Store

.vs/
__pycache__/
output/
.vscode/
wandb/
dual_data/
egohuman-rl/


data/assets/*
!data/assets/g1/
!data/assets/g1/**

!data/assets/smpl/
data/assets/smpl/*
!data/assets/smpl/smpl.xml
!data/assets/smpl/smpl_humanoid.xml
!data/assets/smpl/smpl.usd


data/models
data/motions/*
!data/motions/dual/
!data/motions/dual/**

holosoma